:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  height: 100%;
}

#root {
  min-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  line-height: 1.1;
}

button {
  font: inherit;
  cursor: pointer;
}
